@import url(../../animation/rotation.css);

.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    top: 0;
    background-image: url(../../../../images/kaufman-triangle.svg);
    background-size: cover;
    animation-name: rotation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }